:root {
  --main-color: #913b81;
}
* {
  box-sizing: border-box;
  /* margin: 0px; */
  /* padding: 0; */
}
body {
  font-family: "Open Sans", sans-serif;
  background-image: url('pics/keyboard.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.game {
  /* background-color: #eee; */
  min-height: 100vh;
}
.container {
  margin: auto;
  max-width: 900px;
  opacity: 93%;
}
.name {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.message {
  align-items: center;
  background-color: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  text-align: center;
  display: flex;
}
#levelSelect {
  margin-right: 60px;
  margin-left: 10px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: #e2ceff;
  border: #b7c1ff 2px solid;
}
.message span, .description span {
  font-weight: bold;
  color: #009688;
  margin-right: 5px;
  margin-left: 5px;
}
.message span::before,
.description span::before {
  content: "[ ";
}
.message span::after,
.description span::after {
  content: " ]";
}
.start {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #975ad3;
  color: white;
  padding: 20px;
  cursor: pointer;
}
.the-word {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: white;
  user-select: none;
}
.input {
  margin: 15px 0;
  width: 100%;
  display: block;
  padding: 15px;
  border: 3px solid var(--main-color);
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 6px;
  caret-color: var(--main-color);
}
.input:focus {
  outline: none;
}
.upcoming-words {
  background-color: white;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.upcoming-words div {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 10px;
  border-radius: 6px;
}
.control {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
}
.control span, .description span {
  font-weight: bold;
  color: #009688;
}
.finish {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 15px;
}
.finish .good {
  color: #00fdff;
}
.finish .bad {
  color: red;
}

.scores-container {
  background-color: white;
  display: flex;
  padding: 15px;
  justify-content: space-around;
  font-weight: bold;
}

.description {
  justify-content: space-between;
  background-color: white;
  padding: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

li {
  padding: 5px;
}